#header {
    text-align: center;
    margin: 0 auto;
}

#header-img {
    width: 30%;
    height: 10%;
}

.logout-link-hidden {
    display: none;
}

.logout-link-inline {
    display: inline;
}

#current-location-text {
    text-align: left;
    margin-left: 4%;
}