#article {
  margin: 0 15%;
}
  
.article-table-celda {
  background-color: #ffee00;
  width: 20%;
  border: 1px solid transparent;
}
  
.article-table-celda a {  
  display: block;
  color: #ff0000;
  text-align: center;
}

.article-table-celda a:hover {
  background-color: #00ff15;
  border-radius: 1em;
}